<h1 class="text-center">Barclays Premier League</h1>
<div>
	<highchart id="scoresChart" config="scoresChartConfig"></highchart>
	<div class="table-responsive">
	    <table class="table table-hover table-striped table-bordered text-center">
	        <tr>
	            <th class="text-center">Placar</th>
	            <th class="text-center">Ocorrências</th>
	        </tr>
	        <tr ng-repeat="score in scores">
	            <td>
	                {{score._id.score1}} x {{score._id.score2}}
	            </td>
	            <td>
	                {{score.count}}
	            </td>
	        </tr>
	    </table>
	</div>
</div>
<div>
	<highchart id="goalsChart" config="goalsChartConfig"></highchart>
	<div class="table-responsive">
	    <table class="table table-hover table-striped table-bordered text-center">
	        <tr>
	            <th class="text-center">Quantidade de Gols</th>
	            <th class="text-center">Ocorrências</th>
	        </tr>
	        <tr ng-repeat="score in goals">
	            <td>
	                {{score._id.qtGoals}}
	            </td>
	            <td>
	                {{score.count}}
	            </td>
	        </tr>
	    </table>
	</div>
</div>